*{
    margin:0px;
    padding:0px;
    border: none;
}

.header{
    width: 100%;
    height: 60px;
    background-color: #fff;
}

.header ul{
    padding: 0;
    color: black;
}
.alter:hover{
    border-bottom: 3px solid #06337A;

}