*{
    margin:0px;
    padding:0px;
    border: none;
}

.header{
    width: 100%;
    height: 70px;
    background-color: #fff;
}
/*Botão de inscrição*/
button.botao_inscricao{
    background-color: #06337A;
    font-weight: 500;
    font-size: 1.2em;
    color:#ffffff;
    width: 20%;
    height: 45px;
    border-radius: 10px;
}
/*Ao passar o mouse por cima*/
button.botao_inscricao:hover{
    background-color: #011d4b;
    color:#ffffff;

}

/*Posicionamento dos h5 do carrosel de imagem*/

/*Card de imagem da história*/
a.historia:hover{
    color:#06337A;
    border-bottom: 3px solid #06337A;
}

hr.linha{
    border-color: #06337A;
}

/*Cor de fundo do Rodapé*/
footer.rodape{
    background-color: #06337A;
}


/*Retirando o estilo dos itens da lista*/
ul.list{
    list-style:none;
}


/*Estlio dos links do rodapé*/
a.link{
    text-decoration: none;
    font-weight:500;
    color:#ffffff;
}

a.link2:hover{
    color:#fa9c28;
}

a.curso{
    display:flex;
    justify-content: center;
    text-decoration: none;
    color:black;
    border-bottom: 3px solid #fa9c28;
}
a.curso:hover{
    border-bottom: 3px solid #06337A;
}


/*Espaçamento entre icones do rodapé*/
i.space{
    padding: 3px;
}

