*{
    margin:0px;
    padding:0px;
    border: none;
}

.header{
    width: 100%;
    height: 70px;
    background-color: #fff;
}




/*Cor de fundo do Rodapé*/
footer.rodape{
    background-color: #06337A;
}


/*Retirando o estilo dos itens da lista*/
ul.list{
    list-style:none;
}


/*Estlio dos links do rodapé*/
a.link{
    text-decoration: none;
    font-weight:500;
    color:#ffffff;
}


/*Espaçamento entre icones do rodapé*/
i.space{
    padding: 3px;
}

